@import '../../app.scss';


.hero {
  padding-top: 150px;
  height: 100vh;
  width: 100%;
  padding-left: 250px;
  background: linear-gradient(
    180deg,
    #16223b,
    #02aec4);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  @include desktop{
    padding-left: 100px;
  }
  @include laptop{
    padding-left: 50px;
  }
  @include tablet{
    flex-direction: column;
    padding: 200px 0 0 0;
  }

  
  .hero-wrapper {
    z-index: 10;
    .text-container {
      @include tablet{
        text-align: center;
      }
      .header-title {
        font-family: var(--font-nice);
        font-size: 5rem;
        color: white;
        text-shadow: 0px 10px 20px #00000060;
        @include desktop{
          font-size: 4rem;
        }
        @include tablet{
          font-size: 3rem;
        }

      }
      .header-name {
        font-weight: 900;
        color: #fff;
        padding: 2rem 5px;
        text-shadow: 0px 10px 20px #f5b403;
        font-size: 4rem;
        @include desktop{
          font-size: 3rem;
        }
        @include tablet{
          font-size: 2rem;
        }
    }
    .header-content{
        font-size: 1.4rem;
        font-weight: bolder;
        color: #f5b403;
        @include desktop{
          font-size: 1.1rem;
        }
        @include tablet{
          font-size: 0.9rem;
        }
        .highlight{
            color: #ffffff;
        }
      }
    }
  }




  .slidingTextContainer-2 {
    z-index: 1;
    position: absolute;
    font-size: 40vh;
    bottom: -2vh;
    white-space: nowrap;
    color: #ffffff20;
    width: 50%;
    font-weight: bold;
    @include desktop{
      font-size: 30vh;
    }
    @include tablet{
      font-size: 20vh;
    }
  }
  .slidingTextContainer-1 {
    z-index: 1;
    font-family: var(--font-nice);
    position: absolute;
    font-size: 15vh;
    letter-spacing: 0.4rem;
    top: 12vh;
    white-space: nowrap;
    color: #ffffff50;
    width: 50%;
    font-weight: bold;
    @include desktop{
      font-size: 12vh;
    }
    @include tablet{
      top: 9vh;
      font-size: 8vh;
    }
  }


}
.hero-wrapper {
  height: 100%;
  @include tablet{
    display: flex;
    flex-direction: column;
    justify-content: end;
  }
  @include mobile{
    padding: 0 0.5rem;
  }
  .text-container {
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
.image-container {
  height: 100%;
  overflow: hidden;

  display: flex;
  justify-content: center;
  z-index: 10;

  @include desktop{
      height: 100%;
      width: 50%;
    }
    @include laptop{
      height: 80%;
      width: 45%;
    }
    @include tablet {
      height: 120%;
      width: 100%;
    }
    @include mobile{
      width: 100%;
    }
}


.buttons{
    .button{
        padding: 1rem;
        cursor: pointer;
        margin: 10px;
        border-radius: 2rem;
        border: 2px solid white;
        color: white;
        background-color: transparent;
        transition: 0.5s;
        font-weight: 700;
        font-size: 1.5rem;
        
        @include tablet{
          padding: 0.6rem;
          font-size: 1rem;
        }

    }
    .button:hover{
        background-color: white;
        color: #15b3c8;
        letter-spacing: 2px;
    }
}

.mouse-icon{
    padding: 1rem 0;

    @include tablet{
      display: none;
    }
}

