.resume{
    background: linear-gradient(180deg, #1e3989, #cd9dff);
    width: 100%;
    height: 100%;
    // margin-top: 5rem;
    .resume-message{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-top: 2rem;
        // gap: 5rem;
        img{
            width: 10vw;
        }
          .message{
              color: white;
              text-shadow: 0px 10px 20px #00000060;
              font-size: 4rem;
              font-weight: 900;
              padding-top: 2rem;
          }
    }
}

.card-container {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding-top: 20px;

}

.card {
  font-size: 84px;
  width: 300px;
  height: 430px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('../../Assets/paper4.jpeg');
  background-position: top;
  border-radius: 20px;
  box-shadow: 0 0 1px hsl(0deg 0% 0% / 0.075), 0 0 2px hsl(0deg 0% 0% / 0.075),
    0 0 4px hsl(0deg 0% 0% / 0.075), 0 0 8px hsl(0deg 0% 0% / 0.075),
    0 0 16px hsl(0deg 0% 0% / 0.075);
  transform-origin: 10% 60%;

  .resume-text{
    transform: rotate(45deg);
    color: #1b2b67;
    padding-bottom: 2rem;
    font-family: var(--font-nice);
  }
}

.splash {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  margin: 22rem 50rem 0 50rem;
  border-radius: 4rem;
  border: outset white 10px;
  box-shadow: 12px 20px 40px rgba(15, 15, 15, 0.9);

}

